/* fonts */

  /* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); */


/* common styles and ulilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

hr{
    border: 1px solid #D1D1D1;
}
/* top players style start */
.section-title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}

.top-players{
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    /* grid-template-columns: 1fr, 1fr 1fr; */
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
    font-size: 18px;
}
/*==================================
 top players style end 
 ==================================*/


/*==================================
       top blogs styles start 
 ==================================*/
.blog{
    display: flex;
}
 .blog .thumbnail img{
    width: 177px;
    height: 177px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}

/*==================================
    top blogs styles end 
 ==================================*/